html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: black;
}

/* Container must fill the page */
.container-fluid {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 1em;
}

.bi.exo-icon {
  aspect-ratio: 1 / 1; /* stylelint-disable-line property-no-unknown */
}

.exo-icon {
  text-align: center;
  height: 1.5em;
}
